/* GENERAL */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    font-family: 'Roboto';
}

div {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 80%;
    margin: 1em auto;
}

.card {
    width: 220px;
    margin: 1em;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(106, 106, 106);
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.card img {
    width: 50%;
    display: inline-block;
}

.price {
    font-weight: bold;
}

.description {
    display: none;
}

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.logo-ebay {
    background-image: url('../img/ebay-logo.svg');
}

.logo-walmart {
    background-image: url('../img/walmart-logo.svg');
}
