/* Dispositivos pequeños (moviles en apaisado, 576px y mayor) */
@media ( max-width: 576px ) {
    /* BARRA LOGIN */
    .material-icons {
        font-size: 18px;
    }

    .container-login {
        font-size: 0.7em;
    }

    /* LOGIN & REGISTER */
    header .logotipo {
        width: 20em;
    }

    .container {
        width: 100%;
    }

    .container-form {
        padding: 1.5em;
        width: 95%;
    }

    .container-form .container-separator hr {
        width: 3em;
    }
}

/* Dispositivos medianos (tabletas, 768px y mayor) */
@media ( max-width: 768px ) {
    /* LOGIN & REGISTER */
    .container-form .container-separator hr {
        width: 4em;
    }
}

/* Dispositivos grandes (escritorio, 992px y mayor) */
@media ( max-width: 992px ) { }

/* Dispositivos extra grandes (escritorios grandes, 1200px y mayor) */
@media ( max-width: 1240px ) {
    /* BARRA FILTRADO */ 
    .filter {
        flex-flow: row wrap;
    }

    #slider-range {
        width: 150px;
    }
}

@media ( max-width: 1580px ) { 
    .ui-widget {
        font-size: 0.7em;
    }
}


/* Retrato */
@media ( orientation: portrait ) { }

/* Apaisado */
@media ( orientation: landscape ) { }
